:root {
	--primary-color: #ffffff;	/* white */
	--fg-color: #ffffff;	/* white */
	--bg-color: #f3f3f3;	/* light gray */
	--nav-bg-color: #196c37;		/* white */
	--nav-select-color: #f8df05;	/* gold - yellow */
	--light-color: #f3f3f3;		/* light gray */
	--dark-color: #196c37;			/* dark green */
	--max-width: 1400px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	color: var(--primary-color);
	line-height: 1.5;
	background: var(--dark-color);
}





/* Navigation */

/* Navbar */
nav {
	position: sticky;
	top: 0;
	z-index: 3;
}

#navbar {
	display: flex;
	flex-direction: column;
	background: var(--nav-bg-color);
	color: var(--fg-color);
	z-index: 2;
	/* padding: 1.5rem; */
	border-bottom: var(--fg-color) solid 1px;
}

#navbar h1 {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	padding-left: 0.75rem;
}


#navbar2 {
	z-index: 2;
	/* padding: 1.5rem; */
	display: block;
	border-bottom: var(--fg-color) solid 1px;
	background: var(--nav-bg-color);
}

#navbar2 .nav-options {
	/* This makes the ordered list go horizontally */
	/* Align items center. Halfway vertically between top and bottom of nav bar */
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	visibility: visible;
	background: var(--nav-bg-color);
	/* border-top: var(--fg-color) solid 1px; */
}

#navbar2 .nav-options > li {
	margin: 0.5rem 0;
}

#navbar2 .nav-options li a {
	color: var(--fg-color);
	padding: 0.25rem 0.5rem;
	margin: 0 1rem;
	text-decoration: none;
}

#navbar2 .nav-options li a:hover {
	background: var(--fg-color);
	color: var(--nav-bg-color);
	border-radius: 5px;
}

#navbar2 .nav-options li a.current, 
#navbar2 .nav-options li ul li a.current {
	background: var(--nav-select-color);
	color: var(--nav-bg-color);
}

#mobile_navbar2 {
	display: none;
}
			
			
			

/* Showcase */

#showcase {
	background: #333 url('../images/legacy_gathering/family4.jpg') no-repeat center center/cover;
	height: 100vh;
	color: #fff;
}

#showcase .showcase-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 2rem;
	/. Overlay ./
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
}







/* Home */

.l-heading {
	font-size: 60px;
	font-family: 'Lato', sans-serif;
}







/* Schedule */
			
.schedule-table {
	width: 1000px;
	border-collapse: collapse;
	border-color: white;
	margin: 20px auto;
	color: white;
}

.schedule-table th {
	border-width: 2px;
	font-size: 30px;
	padding: 20px;
	border-style: solid;
	border-color: white;
	color: var(--fg-color);
	background-color: rgb(0, 64, 139);
	background-color: var(--dark-color);
}

.day-data {
	border-width: 2px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 30px;
	border-style: solid;
	border-color: white;
	color: var(--fg-color);
	background-color: var(--dark-color);
}

.time-data {
	border-width: 2px;
	width: 200px;
	font-size: 20px;
	padding: 8px;
	border-style: solid;
	border-color: white var(--light-color) white white;
	background-color: var(--dark-color);
}

.description-data {
	border-width: 2px;
	width: 800px;
	font-size: 20px;
	padding: 8px;
	margin: 5px 20px;
	border-style: solid;
	border-color: white white white var(--light-color);
	background-color: var(--dark-color);
}

.faq-data {
	border-width: 2px;
	width: 800px;
	font-size: 20px;
	padding: 8px 20px;
	border-style: solid;
	border-color: white white white white;
	background-color: var(--dark-color);
}







/* Registration */

.registration-list {
	width: 1000px;
	border-collapse: collapse;
	border-color: black;
	margin: 50px auto;
	color: black;
}

.registration-list th {
	border-width: 2px;
	font-size: 20px;
	font-weight: bold;
	padding: 20px;
	border-style: solid;
	border-color: black;
	color: var(--fg-color);
	background-color: rgb(0, 64, 139);
	background-color: var(--light-color);
}

.registration-list td h3 {
	border-width: 2px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-color: black;
	color: var(--fg-color);
	background-color: var(--light-color);
}

.registration-list td {
	width: 500px;
	border-width: 2px;
	font-size: 15px;
	border-style: solid;
	border-color: black black black black;
	background-color: var(--light-color);
}

.registration-list td p {
	margin-left: 50px;
}

/* Section: Register and T-Shirts */
#register-shirt {
	display: flex;
	/* margin: 25px 150px 75px 150px; */
	margin: 25px 100px 75px 100px;
	justify-content: center;
	align-items: center;
}

#register-shirt #shirt-img,
#register-shirt .register-form {
	flex: 1;
}

.register-button a {
	background: #18942e;
	color: #fff;
	padding: 0.5rem 1rem;
	margin: 0 1rem;
	text-decoration: none;
}

.register-button a:hover {
	background: #7ab436;
	color: #fff;
}


.register-button {
	display: flex;
	/* margin: 25px 150px 75px 150px; */
	justify-content: center;
	align-items: center;
}



#register-area {
	display: flex;
	/* margin: 25px 150px 75px 150px; */
	margin: 25px 150px 75px 150px;
	justify-content: center;
	align-items: center;
}

.reg-mobile {
	display: none;
}



/* Section: Hotel */
#hotel {
	display: flex;
	margin: 30px 50px 75px 50px;
	justify-content: center;
	align-items: center;
}

#hotel div {
	/* Because we want each flex item to be the same size, flex: 1 */
	flex: 1;
}

#hotel .hotel-img {
	background: url('images/legacy_gathering/hotel_1.jpg') no-repeat;
}


#hotel .hotel-img {
	width: 100%;
	height: auto;
	max-width: 600px;
}
			
.shirt-table {
	width: 600px;
	border-collapse: collapse;
	margin: 10px auto;
	color: var(--fg-color);
}


.shirt-table td {
	width: 400px;
	height: 200px;
	border-width: 2px;
	margin-left: 50px;
	text-align: center;
}
			
.index-table {
	width: 800px;
	border-collapse: collapse;
	margin: 10px auto;
	color: var(--fg-color);
}


.index-table td {
	width: 400px;
	height: 300px;
	border-width: 2px;
	margin-left: 50px;
}







/* Gallery */

.name_galleries {
	display: none;
}

.name-table-mobile {
	display: none;
}

.name-table {
	border-collapse: collapse;
	margin: 25px 50px 50px 100px;
	display: block;
}

.name-table td {
	width: 200px;
	height: 200px;
	border-width: 2px;
	margin-left: 15px;
}

.name-options {
	list-style: none;
}

.name-options li a {
	padding: 0.25rem 0.5rem;
	margin: 0 1rem;
	color: var(--fg-color);
	text-decoration: none;
}

/*
.name-options li a:hover {
	background: var(--fg-color);
	color: var(--bg-color);
	border-radius: 5px;
}
*/

/*
.name-options li a.current, 
.name-options li ul li a.current {
	background: var(--nav-select-color);
	color: var(--bg-color);
}
*/





			
			
			
.contact-list {
	width: 700px;
	border-collapse: collapse;
	margin: 50px auto;
	color: black;
}

.contact-list th {
	border-width: 10px;
	padding: 20px;
	color: var(--fg-color);
}

.contact-list td {
	width: 300px;
	height: 350px;
	border-width: 2px;
	margin-left: 50px;
	color: #fff;
}








/* Utility Classes */
.container {
	max-width: 1100px;
	margin: auto;
	padding: 0 2rem;
	overflow: hidden;
}

.text-center {
	text-align: center;
}

.bg-dark {
	background:  #333;
	color: #fff;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }




		
#family-gallery {
	margin: 75px 0 0 0;
}



.gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1rem;
}

.gallery img {
	width: 100%;
	height: auto;
	max-width: 300px;
	padding: 2px
}







			

/* Section: Contact Form Area */
#contact-section {
	display: flex;
	/* margin: 25px 150px 75px 150px; */
	margin: 25px 250px 75px 150px;
	justify-content: center;
	align-items: center;
}

/*
#contact-section .shirt-img,
#contact-section .contact-form {
	flex: 1;
}
*/

#contact-section .contact-form .form-group {
	margin: 0.75rem;
}

#contact-section .contact-form label {
	display: block;
}

#contact-section .contact-form input, 
#contact-section .contact-form textarea {
	width: 150%;
	padding: 0.5rem;
}

.btn {
	display: inline-block;
	color: #fff;
	background: #93cb52;
	padding: 0.5rem 2rem;
	border: none;
	border-radius: 5px;
}

.btn:hover {
	background: #7ab436;
}

.btn-dark {
	background: #333;
	color: #fff;
}

#contact-section a {
	text-decoration: none;
	padding: 5px;
	background: #333;
	color: #fff;
}



.grid-container {
	display: grid;
	/* Creates 2 columns of equal width (1 fractional unit each) */
	grid-template-columns: 1fr 1fr; 
	/* Creates 2 rows of equal height */
	grid-template-rows: 1fr 1fr; 
	/* Adds spacing between the boxes */
	gap: 20px; 
	/* Optional: Set a specific height for the container if needed */
	height: 400px; 
}

.grid-item {
	padding: 20px;
	text-align: center;
}

.contact-mobile {
	display: none;
}






/* Footer */